.link {
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 475px) {
  .logo {
    font-size: 26px;
    flex-grow: 1;
  }
}

@media (min-width: 475px) {
  .logo {
    font-size: 36px;
    flex-grow: 1;
  }
}