a {
    text-decoration: none;
    color: inherit;
}
.SideBarLayOut {
    display: block;
}
.SeeMoreOptions {
    max-width: 250px;
    display: flex;
    border: 1px solid blue;
    justify-content: center;
}
.SeeLessOptions {
    width: fit-content;
    display: flex;
    justify-content: right;
    border: 1px solid red;
}
.DrawerIcon {
    font-size: 36px;
}