.CustomerPage dt {
    font-size:24px;
    font-weight:700;
    margin-left: 15px;
    padding:0;
}
.CustomerPage dd {
    font-size: 16px;
}

.QualifyArea {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.QualifyButton {
    border: none;
    background-color: rgba(0, 120, 255, .5);
    height: 25px;
    border-radius: .5em;
    box-shadow: 1px 1px 3px #000;
    z-index: 3;
    cursor: pointer;
}
@media (min-width: 480px){
    .CustomerPageImage {
        position:relative;
        display:flex;
        width: 50vw;
        height: 50vh;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        text-transform: capitalize;
    }
}
@media (max-width: 480px){
    .CustomerPageImage {
        position:relative;
        display:flex;
        width: 100vw;
        height: 50vh;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        text-transform: capitalize;
    }
}
.CustomerPageImage > p {
    position:absolute;
    font-size:34px;
    font-weight:700;
    width: 100%;
    text-align: center;
    bottom:0;
    color:#fff;
    z-index:1;
}
.CustomerPageImage > img {
    height: 100%;
    width: 100%;
    filter: brightness(.5);
    object-fit: cover;
    z-index: 0;
}