.NoScrollBar::-webkit-scrollbar{
    display: none;
}

.CommentTextArea {
    flex-grow: 1;
    resize: none;
    border: none;
    border-radius: .5em;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.CommentTextArea:active {
    border: none;
}