.ProfilePicContainer {
    position: relative;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
    object-fit: cover;
}
.ProfilePicContainer > img {
    height: 100%;
    width: 100%;
}
.CardPicContainer {
    border-radius: 50%;
    overflow: hidden;
}

.CardPicContainer > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}